{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<form method="POST">
  <h3 align="center">Maker Space Membership Registration</h3>
  <p>Welcome to the WAMS TSA Makerspace! During this registration we ask for basic information to start you off with our free membership that can be upgraded!</p>
  <div class="form-group">
    <label for="email">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
    />
  </div>
    <div class="form-group">
    <label for="password1">Password</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Enter password"
    />
  </div>
  <div class="form-group">
    <label for="password2">Password (Confirm)</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Confirm password"
    />
  </div>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input
      type="text"
      class="form-control"
      id="firstName"
      name="firstName"
      placeholder="Enter first name"
    />
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input
      type="text"
      class="form-control"
      id="lastName"
      name="lastName"
      placeholder="Enter last name"
    />
  </div>
  <div class="form-group">
    <label for="school">What school are you currently in?</label>
    <select class="form-control" id="school" name="school">
      <option value="WAMS">William Annin Middle School</option>
      <option value="Liberty Corner">Liberty Corner</option>
      <option value="Ridge High School">Ridge High School</option>
      <option value="Cedar Hill">Cedar Hill</option>
      <option value="Mount Prospect">Mount Prospect</option>
      <option value="Oak Street">Oak Street</option>
      <option value="Other">Other</option>
    </select>
  </div>
  <div class="form-group">
    <label for="grade">Which Grade?</label>
    <select class="form-control" id="grade" name="grade">
      <option value="K-5">K-5</option>
      <option value="Grade 6">Grade 6</option>
      <option value="Grade 7">Grade 7</option>
      <option value="Grade 8">Grade 8</option>
      <option value="Grade 9-12">Grade 9-12</option>
    </select>
  </div>
  <div class="form-group">
    <label for="emergencyContact">Emergency Contact Info</label>
    <input
      type="tel"
      class="form-control"
      id="emergencyContact"
      name="emergencyContact"
      placeholder="Enter emergency contact phone number"
    />
  </div>
  <div class="form-group">
    <label for="emergencyContactName">Who should we call?</label>
    <input
      type="text"
      class="form-control"
      id="emergencyContactName"
      name="emergencyContactName"
      placeholder="Enter emergency contact name"
    />
  </div>
  <div class="form-group">
    <label for="relationship">Who will answer the phone?</label>
    <input
      type="text"
      class="form-control"
      id="relationship"
      name="relationship"
      placeholder="Enter relationship to emergency contact"
    />
  </div>
  <div class="form-group">
    <label for="contactAge">What is their age?</label>
    <input
      type="number"
      class="form-control"
      id="contactAge"
      name="contactAge"
      placeholder="Enter age of emergency contact"
    />
  </div>
  <div class="form-group">
    <label for="makerInterest">Why are you interested in our makerspace?</label>
    <textarea class="form-control" id="makerInterest" name="makerInterest" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label>What resources do you need from us?</label><br>
    <input type="checkbox" id="3DPrinterPen" name="resourcesNeeded" value="3D Printer and Pen">
    <label for="3DPrinterPen">3D Printer and Pen</label><br>
    <input type="checkbox" id="laserCutter" name="resourcesNeeded" value="Laser Cutter">
    <label for="laserCutter">Laser Cutter</label><br>
    <input type="checkbox" id="legos" name="resourcesNeeded" value="Legos">
    <label for="legos">Legos</label><br>
    <input type="checkbox" id="woodshop" name="resourcesNeeded" value="Woodshop">
    <label for="woodshop">Woodshop</label><br>
    <input type="checkbox" id="normalPrinter" name="resourcesNeeded" value="Printer(Normal)">
    <label for="normalPrinter">Printer(Normal)</label><br>
    <input type="checkbox" id="creativeArtSpace" name="resourcesNeeded" value="Creative Art Space">
    <label for="creativeArtSpace">Creative Art Space</label><br>
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
